*{
    padding: 0px;
    margin: 0px;
    font-family: "Jost", sans-serif;
}

body{
    background: #FFF;
    width: 1440px;
    height: 8442px;
}

.header{
    display: flex;
    width: 1440px;
    height: 75px;
    padding: 22px 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: #213D56;
    box-shadow: 0px 5px 20.1px 0px rgba(0, 0, 0, 0.37);
} 

.container{ 
    width: 1240px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.header .container .navbar-brand{
    display: flex;
    width: 1240px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

.header .container .navbar-brand img{
    width: 300px;
    height: 100%;
    align-self: stretch;
    /* aspect-ratio: 156.89/81.80; */
}

.header .container .nav{
    width: 642px;
    height: 37.7px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.header .container .nav .nav-link{
    display: flex;
    width: 439px;
    padding: 5.648px;
    justify-content: space-between;
    align-items: center;
}

.header .container .nav .nav-link .nav-item{
    display: flex;
    padding: 3.19px;
    justify-content: center;
    align-items: center;
    gap: 3.19px;
}

.header .container .nav .nav-link .nav-item a{
    text-decoration: none;
    color: var(--White, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header .container .nav .nav-link .nav-item a:hover{
    color: #FFCC00;
}

.header .container .nav .nav-link .nav-item .active{
    color: #FFCC00;
}

.header .container .nav #margin{
    display: flex;
    width: 128px;
    padding: 9.371px 21.782px;
    justify-content: center;
    align-items: center;
    gap: 2.533px;
    border-radius: 7.783px;
    background: var(--Yellow-Main-Yellow, #FC0);

}

.header .container .nav #margin .get-started{
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 12.664px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    position: relative;
}

.hero{
    display: flex;
    width: 1440px;
    /* height: 573px; */
    /* padding: 172.672px 249px 171.556px 249px; */
    padding: 172.672px 0px 171.556px 0px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(270deg, rgba(33, 61, 86, 0.77) 0%, rgba(2, 25, 46, 0.77) 73.06%), url(../images/harvoxx6.jpg ) lightgray 0px -502.899px / 100% 299.228% no-repeat;
}

.hero .container{
    display: flex;
    width: 942px;
    height: 228.8px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
}

.hero .container .contain{
    width: 692px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.hero .container .contain .contain-fluid{
    flex-direction: column;
    align-items: center;
}

.hero .container .contain .contain-fluid .fluid-dt{
    align-self: stretch;
    color: var(--White, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero .container .contain .contain-fluid .fluid-del{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
}

.hero .container .contain .contain-fluid .fluid-del span{
    color: var(--Yellow-Main-Yellow, #FC0);
    font-family: Montserrat;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}

.hero .container .contain .fluid-txt{
    color: #EEE;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    align-self: stretch;
}

.hero .container .btn-contain{
    width: 274px;
    height: 40.8px;
    display: flex;
    align-items: center;
    gap: 18px;
}

.hero .container .btn-contain .btn-txt{
    display: flex;
    width: 128px;
    padding: 10.386px 24.14px;
    justify-content: center;
    align-items: center;
    gap: 2.807px;
    border-radius: 8.626px;
    background: var(--Yellow-Main-Yellow, #FC0);
}

.hero .container .btn-contain .btn-txt p{
    width: 94px;
    height: 20px;
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.hero .container .btn-contain .btn-sign{
    display: flex;
    width: 128px;
    padding: 10.386px 24.14px;
    justify-content: center;
    align-items: center;
    gap: 2.807px;
    border-radius: 8.626px;
    border: 2.156px solid var(--Yellow-Main-Yellow, #FC0);
}

.hero .container .btn-contain .btn-sign p{
    width: 94px;
    height: 20px;
    color: var(--Yellow-Main-Yellow, #FC0);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.partner{
    display: flex;
    width: 1440px;
    height: 68px;
    padding: 41px 10px 19px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #F8F8F8;
}

.partner p{
    width: 255px;
    height: 24px;
    color: #3B3B3B;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 122.022%; /* 24.404px */
}

.part-logo{
    display: flex;
    width: 2080px;
    height: 82px;
    padding: 25.469px 20.334px 32.544px 20.334px;
    justify-content: space-between;
    align-items: center;
    background: #F8F8F8;
}

.about{
    display: flex;
    width: 1440px;
    padding: 65px 100px;
    justify-content: space-between;
    align-items: flex-end;
    background: var(--Blue-Main-blue, #213D56);
}

.about .container{
    display: flex;
    width: 1240px;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
}

.about .container .left{
    display: flex;
    width: 608px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
    
}

.about .container .left .left-contain{
    display: flex;
    height: 453px;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    align-self: stretch;
}

.about .container .left .left-contain p{
    align-self: stretch;
    color: var(--White, #FFF);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.about .container .left .left-contain span{
    color: var(--Yellow-Main-Yellow, #FC0);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about .container .left .left-contain .left-text{
    display: flex;
    height: 401px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    flex-shrink: 0;
    align-self: stretch;
}

.about .container .left .left-contain .left-text p{
    align-self: stretch;
    color: var(--White, #FFF);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
line-height: normal;
}

.about .container .left .left-contain .left-text .left-div{
    display: flex;
    height: 229px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
}

.about .container .left .left-contain .left-text .left-div p{
    height: 251px;
    flex: 1 0 0;
    color: var(--White, #FFF);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.about .container .left .left-cont{
    display: flex;
    padding: 10.128px 23.541px;
    justify-content: center;
    align-items: center;
    gap: 2.737px;
    border-radius: 8.412px;
    background: var(--Yellow-Main-Yellow, #FC0);
}


.about .container .left .left-cont p{
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 13.687px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about .container .right{
    display: flex;
    width: 558.822px;
    padding: 32.89px 38.007px;
    justify-content: center;
    align-items: center;
    gap: 7.309px;
    flex-shrink: 0;
    border-radius: 14.618px;
    background: linear-gradient(36deg, #051A2B 68.46%, #1568AB 105.38%);
}

.about .container .right .right-container{
    width: 483.305px;
    height: 434.219px;
    flex-shrink: 0;
}

.about .container .right .right-container .right-contain{
    width: 446.317px;
    height: 391.361px;
    flex-shrink: 0;
    border-radius: 14.089px;
    background: #0E283F; 
    margin-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    position: absolute;
}

.about .container .right .right-container .right-cont{
    width: 454.928px;
    height: 404.656px;
    flex-shrink: 0;
    margin-top: 40px;
    border-radius: 14.089px;
    background: #01101D;    
}

.about .container .right .right-container .right-img{
    width: 456.189px;
    height: 415px;
    /* height: 406.533px; */
    flex-shrink: 0;
    border-radius: 9.835px;
    margin-left: 20px;
    position: absolute;
    bottom: 15px;
    background: url(../images/harvoxx8.jpg) lightgray 50% / cover no-repeat;
}

.project{
    display: flex;
    width: 1440px;
    padding: 25px 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: #F1F1F1;
}

.project .project-div{
    display: flex;
    height: 81px;
    width: 1240px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    
}

.project .project-div .div-exp{
    display: flex;
    width: 237px;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.project .project-div .div-exp .nine{
    width: 241px;
    color: var(--Yellow-Main-Yellow, #FC0);
    text-align: center;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.project .project-div .div-exp .exp{
    width: 241px;
    color: var(--Blue-Main-blue, #213D56);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.project .project-div .circle{
    width: 6.211px;
    height: 6.211px;
    aspect-ratio: 6.21/6.21;
    fill: var(--Blue-Main-blue, #213D56);   
}

.value{
    display: flex;
    /* width: 1440px; */
    width: 100%;
    /* padding: 56px 100px; */
    padding: 50px 60px;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    background: #FFF;
}

.value .div-value{
    /* width: 1240px; */
    width: 65%;
    height: 96.91px;
    display: flex;
    padding: 0px 182px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.value .div-value .value-dt{
    width: 232px;
    height: 40.916px;
}

.value .div-value .value-dt p{
    width: 232px;
    height: 34px;
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.value .div-value .value-dt .stroke{
    width: 152.261px;
    height: 3.848px;
    transform: rotate(-1.155deg);
    flex-shrink: 0;
    stroke-width: 2.089px;
    stroke: var(--Yellow-Main-Yellow, #FC0);
}

.value .div-value .value-txt p{
    width: 838px;
    color: var(--Dark-Grey-Subheadings, #555);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 122.022%; /* 21.964px */
}

.value .div-value .value-txt span{
    color: var(--Yellow-Main-Yellow, #FC0);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 122.022%;
}

.value .div-core{
    display: flex;
    /* width: 1236px; */
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.value .div-core .core-dt{
    display: flex;
    width: 1236px;
    height: 190px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.value .div-core .core-dt .core-div{
    display: flex;
    padding: 21px 65px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 7.08px;
    border: 0.035px solid var(--Blue-Main-blue, #213D56);
    background: var(--Blue-Main-blue, #213D56);
}

.value .div-core .core-dt .core-div .div-icon{
    width: 35px;
    height: 37.333px;
    aspect-ratio: 35.00/37.33;
}

.value .div-core .core-dt .core-div .div-diversity{
    width: 468px;
    height: 90.39px;
    display: flex;
    padding: 0px 17.146px;
    flex-direction: column;
    align-items: center;
    gap: 3.186px;
    align-self: stretch; 
}

.value .div-core .core-dt .core-div .div-diversity .diversity-cont{
    width: 434px;
    height: 90.39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11.317px;
    align-self: stretch;
}

.value .div-core .core-dt .core-div .div-diversity .diversity-cont .p1{
    height: 19.076px;
    align-self: stretch;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15.499px;
    font-style: normal;
    font-weight: 700;
    line-height: 122.022%; /* 18.912px */
}

.value .div-core .core-dt .core-div .div-diversity .diversity-cont .p2{
    align-self: stretch;
    color: var(--White, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 122.022%; /* 19.524px */
}

.value .div-core .core-dt .core-div1{
    display: flex;
    /* padding: 21px 70px; */
    padding: 21px 25px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 7.08px;
    border: 0.035px solid var(--Blue-Main-blue, #213D56);
    background: var(--Yellow-Main-Yellow, #FC0);
}

.value .div-core .core-dt .core-div1 .core-icon{
    display: flex;
    width: 35px;
    height: 35px;
    padding: 2.917px 2.917px 0.271px 2.917px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.value .div-core .core-dt .core-div1 .core-icon svg{
    width: 29.167px;
    height: 31.812px;
    flex-shrink: 0;
}

.value .div-core .core-dt .core-div1 .div-impact{
    display: flex;
    width: 498px;
    padding: 0px 17.146px;
    flex-direction: column;
    align-items: center;
    gap: 3.186px;
}

.value .div-core .core-dt .core-div1 .div-impact .impact-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11.317px;
    align-self: stretch;
}

.value .div-core .core-dt .core-div1 .div-impact .impact-cont .p1{
    height: 19.076px;
    align-self: stretch;
    color: var(--Blue-Main-blue, #213D56);
    text-align: center;
    font-family: Montserrat;
    font-size: 15.499px;
    font-style: normal;
    font-weight: 700;
    line-height: 122.022%; /* 18.912px */
}

.value .div-core .core-dt .core-div1 .div-impact .impact-cont .p2{
    align-self: stretch;
    color: var(--Blue-Main-blue, #213D56);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 122.022%; /* 19.524px */
}

.value .div-core .core-cel{
    display: flex;
    width: 1236px;
    height: 190px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.value .div-core .core-cel .core-container{
    display: flex;
    padding: 21px 100px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 7.08px;
    border: 0.035px solid var(--Blue-Main-blue, #213D56);
    background: var(--Yellow-Main-Yellow, #FC0);
}

.value .div-core .core-cel .core-container .div-icon{
    display: flex;
    width: 35px;
    height: 35px;
    padding: 4.375px 2.917px 4.375px 2.916px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.value .div-core .core-cel .core-container .div-icon svg{
    width: 29.167px;
    height: 26.25px;
    flex-shrink: 0;
}

.value .div-core .core-cel .core-container .div-comt{
    display: flex;
    padding: 0px 17.146px;
    flex-direction: column;
    align-items: center;
    gap: 3.186px;
    align-self: stretch;

}

.value .div-core .core-cel .core-container .div-comt .comt-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11.317px;
    align-self: stretch;
}

.value .div-core .core-cel .core-container .div-comt .comt-cont .p1{
    height: 19.076px;
    align-self: stretch;
    color: var(--Blue-Main-blue, #213D56);
    text-align: center;
    font-family: Montserrat;
    font-size: 15.499px;
    font-style: normal;
    font-weight: 700;
    line-height: 122.022%; /* 18.912px */
}

.value .div-core .core-cel .core-container .div-comt .comt-cont .p2{
    align-self: stretch;
    color: var(--Blue-Main-blue, #213D56);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 122.022%; /* 19.524px */
}

.value .div-core .core-cel .core-contain{
    display: flex;
    padding: 29.21px 70px;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 7.08px;
    border: 0.035px solid var(--Blue-Main-blue, #213D56);
    background: var(--Blue-Main-blue, #213D56);
}

.value .div-core .core-cel .core-contain .div-icon{
    width: 35px;
    height: 35px;
    aspect-ratio: 1/1;
}

.value .div-core .core-cel .core-contain .div-inte{
    display: flex;
    padding: 0px 17.146px;
    flex-direction: column;
    align-items: center;
    gap: 3.186px;
    align-self: stretch;
}

.value .div-core .core-cel .core-contain .div-inte .inte-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11.317px;
    align-self: stretch;
}

.value .div-core .core-cel .core-contain .div-inte .inte-cont .p1{
    height: 19.076px;
    align-self: stretch;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15.499px;
    font-style: normal;
    font-weight: 700;
    line-height: 122.022%; /* 18.912px */
}

.value .div-core .core-cel .core-contain .div-inte .inte-cont .p2{
    align-self: stretch;
    color: var(--White, #FFF);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 122.022%; /* 19.524px */
}

.services{
    display: flex;
    /* width: 1440px; */
    width: 100%;
    padding: 50px 0px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.services .div-services{
    display: flex;
    /* width: 790px; */
    width: 65%;
    flex-direction: column;
    align-items: center;
    gap: 33px;
}

.services .div-services .service-dt{
    width: 186.031px;
    height: 37.388px;
}

.services .div-services .service-dt p{
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.services .div-services .service-dt .stroke{
    width: 123.995px;
    height: 3px;
    transform: rotate(-1.566deg);
    flex-shrink: 0;
    stroke-width: 2.511px;
    stroke: var(--Yellow-Main-Yellow, #FC0);
}

.services .div-services .services-txt p{
    align-self: stretch;
    color: var(--Dark-Grey-Subheadings, #555);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 122.022%; /* 21.964px */
}

.services .div-services .services-txt span{
    color: var(--Yellow-Main-Yellow, #FC0);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 122.022%;
}

.services .service-container{
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 118px;
    align-self: stretch;

}

.services .service-container .service-contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.services .service-container .service-contain .contain-left{
    display: flex;
    width: 623px;
    height: 420px;
    margin-left: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 44px;
    background: #FFF;
}

.services .service-container .service-contain .contain-left .left-div{
    display: flex;
    height: 314px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    align-self: stretch;
}

.services .service-container .service-contain .contain-left .left-div p{
    width: 433px;
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services .service-container .service-contain .contain-left .left-div .left-txt p{
    color: var(--Yellow-Main-Yellow, #FC0);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* text-decoration-line: underline; */
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.services .service-container .service-contain .contain-left .left-div .left-txt span{
    color: var(--Grey-text, #5E5E5E);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.services .service-container .service-contain .contain-left .left-btn{
    display: flex;
    padding: 10.408px 24.192px;
    justify-content: center;
    align-items: center;
    gap: 2.813px;
    border-radius: 8.645px;
    background: var(--Yellow-Main-Yellow, #FC0);
}

.services .service-container .service-contain .contain-left .left-btn .btn-div{
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 14.065px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services .service-container .service-contain .contain-right{
    width: 554px;
    height: 419.742px;
}

.services .service-container .service-contain .contain-right .div-frame{
    /* width: 537.825px; */
    width: 510px;
    height: 400.569px;
    flex-shrink: 0;
    border-radius: 19.452px;
    background: #0E283F;
    position: relative;
}

.services .service-container .service-contain .contain-right .div-img{
    /* width: 538.836px; */
    width: 510px;
    height: 401.529px;
    flex-shrink: 0;
    border-radius: 13.579px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: url(../images/harvoxx7.JPG) lightgray 50% / cover no-repeat;
}

.services .service-container .brand-contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.services .service-container .brand-contain .contain-left{
    width: 554px;
    height: 419.684px;
}

.services .service-container .brand-contain .contain-left .div-frame{
    /* width: 536.845px; */
    width: 500px;
    height: 400.569px;
    flex-shrink: 0;
    border-radius: 19.452px;
    background: #0E283F;
    margin-left: 50px;
    position: relative;
}


.services .service-container .brand-contain .contain-left .div-frame .div-img{
    /* width: 537.854px; */
    width: 510px;
    height: 401.529px;
    flex-shrink: 0;
    border-radius: 13.579px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: url(../images/harvoxx8.jpg) lightgray 50% / cover no-repeat;
}

.services .service-container .brand-contain .contain-right{
    display: flex;
    width: 610px;
    height: 418px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 44px;
    margin-right: 20px;
    margin-bottom: 70px;
    background: #FFF;
}

.services .service-container .brand-contain .contain-right .right-div{
    display: flex;
    height: 291px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    align-self: stretch;
}

.services .service-container .brand-contain .contain-right .right-div p{
    align-self: stretch;
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services .service-container .brand-contain .contain-right .right-div .right-txt p{
    align-self: stretch;
    color: var(--Grey-text, #5E5E5E);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.services .service-container .brand-contain .contain-right .right-btn{
    display: flex;
    padding: 10.408px 24.192px;
    justify-content: center;
    align-items: center;
    gap: 2.813px;
    border-radius: 8.645px;
    background: var(--Yellow-Main-Yellow, #FC0);
}

.services .service-container .brand-contain .contain-right .right-btn .btn-div{
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 14.065px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services .service-container .service-contain .contain-left .left-div .left-dept p{
    color: var(--Grey-text, #5E5E5E);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-self: stretch;
}

.services .service-container .service-contain .contain-right .div-images{
    /* width: 538.836px; */
    width: 510px;
    height: 401.529px;
    flex-shrink: 0;
    border-radius: 13.579px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: url(../images/service3.jpg) lightgray 50% / cover no-repeat;
}

.services .service-container .service-contain #margin{
    margin-bottom: 70px;
}

.services .service-container .brand-contain .contain-left .div-frame .div-image{
    /* width: 537.854px; */
    width: 510px;
    height: 401.529px;
    flex-shrink: 0;
    border-radius: 13.579px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: url(../images/harvoxx4.jpg) lightgray 50% / cover no-repeat;
}

.services .service-container .brand-contain .contain-right .right-div{
    display: flex;
    height: 266px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    align-self: stretch;
}

.services .service-container .brand-contain .contain-right .right-div p{
    align-self: stretch;
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 33.8px */
}

.services .service-container .brand-contain .contain-right .right-div span{
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.services .service-container .brand-contain .contain-right .right-div .right-docum p{
    height: 180px;
    flex-shrink: 0;
    align-self: stretch;
    color: var(--Yellow-Main-Yellow, #FC0);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* text-decoration-line: underline; */
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.services .service-container .brand-contain .contain-right .right-div .right-docum span{
    color: var(--Grey-text, #5E5E5E);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.services .service-container .service-contain .contain-right .div-image{
    /* width: 538.836px; */
    width: 510px;
    height: 401.529px;
    flex-shrink: 0;
    border-radius: 13.579px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: url(../images/harvoxx5.jpg) lightgray 50% / cover no-repeat;
}

.services .service-container .service-contain .contain-left .left-cons p{
    align-self: stretch;
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 35.1px */    
}

.services .service-container .service-contain .contain-left .left-cons span{
    width: 433px;
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    /* line-height: normal; */
    font-weight: 500;
    line-height: 135%;
    text-transform: uppercase;
}

.services .service-container .service-contain .contain-left .left-cons .left-docum p{
    height: 222px;
    flex-shrink: 0;
    align-self: stretch;
    color: var(--Grey-text, #5E5E5E);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.services .service-container .service-contain .contain-left .left-cons .left-docum span{
    color: var(--Yellow-Main-Yellow, #FC0);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.services .service-container #line{
    margin-bottom: 70px;    
}

.pricing{
    display: flex;
    width: 1440px;
    padding: 69px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 13px;
    background: #F9F9F9;
}

.pricing .price-contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.pricing .price-contain .price{
    width: 174.095px;
    height: 42.616px;
}

.pricing .price-contain .price p{
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.pricing .price-contain .price span{
    color: var(--Yellow-Main-Yellow, #FC0);
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.pricing .price-contain .price svg{
    width: 105.529px;
    height: 3px;
    transform: rotate(-1.355deg);
    flex-shrink: 0;
    fill: var(--Blue-Main-blue, #213D56);
    stroke-width: 3px;
    stroke: var(--Yellow-Main-Yellow, #FC0);
}

.pricing .price-contain .price-p p{
    width: 732px;
    color: var(--Dark-Grey-Subheadings, #555);
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 122.022%; /* 21.964px */
}

.pricing .price-contain .price-p span{
    color: var(--Yellow-Main-Yellow, #FC0);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 122.022%;
}

.pricing .price-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.pricing .price-container .price-frame{
    display: flex;
    padding-bottom: 3.879px;
    justify-content: flex-end;
    align-items: center;
}

.pricing .price-container .price-frame .frame-div{
    display: flex;
    height: 378.121px;
    padding-left: 6.679px;
    align-items: center;
    gap: 17.879px;
}

.pricing .price-container .price-frame .frame-div .frame{
    display: flex;
    width: 266.945px;
    height: 341.437px;
    padding: 15.872px 14.91px;
    flex-direction: column;
    align-items: center;
    gap: 12.987px;
    border-radius: 19.239px;
    background: #FFF;
    box-shadow: 0.962px 4.329px 11.255px 0px rgba(0, 0, 0, 0.06), -0.962px -0.962px 7.167px 0px rgba(0, 0, 0, 0.06);
}

.pricing .price-container .price-frame .frame-div .frame .frame-img1{
    height: 144.393px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 9.62px;
    background: url(../images/frame-img1.png) lightgray 50% / cover no-repeat;
}

.pricing .price-container .price-frame .frame-div .frame .frame-container{
    display: flex;
    height: 152.79px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
}

.pricing .price-container .price-frame .frame-div .frame .frame-container .frame-header p{
    align-self: stretch;
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 15.391px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pricing .price-container .price-frame .frame-div .frame .frame-container .frame-contain{
    display: flex;
    height: 128.043px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    align-self: stretch;
}

.pricing .price-container .price-frame .frame-div .frame .frame-container .frame-contain .contain1{
    display: flex;
    width: 196.901px;
    flex-direction: column;
    align-items: flex-start;
    gap: 7.215px;
}

.pricing .price-container .price-frame .frame-div .frame .frame-container .frame-contain .contain1 .contain-p1{
    align-self: stretch;
    color: #6E6E6E;
    font-family: Montserrat;
    font-size: 11.544px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}

.pricing .price-container .price-frame .frame-div .frame .frame-container .frame-contain .contain1 .contain-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.886px;
}

.pricing .price-container .price-frame .frame-div .frame .frame-container .frame-contain .contain1 .contain-div .div-icon{
    display: flex;
    width: 14.429px;
    height: 14.429px;
    padding: 1.203px 1.202px 0.112px 1.203px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 14.43/14.43;
}

.pricing .price-container .price-frame .frame-div .frame .frame-container .frame-contain .contain1 .contain-div .div-icon svg{
    width: 12.025px;
    height: 13.115px;
    flex-shrink: 0;
}

.pricing .price-container .price-frame .frame-div .frame .frame-container .frame-contain .contain1 .contain-div .div-p{
    color: #4D4D4D;
    font-family: Montserrat;
    font-size: 9.62px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pricing .price-container .price-frame .frame-div .frame .frame-container .frame-contain .contain1 .contain-p2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.367px;
    align-self: stretch;
}

.pricing .price-container .price-frame .frame-div .frame .frame-container .frame-contain .contain1 .contain-p2 .p1{
    align-self: stretch;
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 9.62px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pricing .price-container .price-frame .frame-div .frame .frame-container .frame-contain .contain1 .contain-p2 .p2{
    align-self: stretch;
    color: #525252;
    font-family: Montserrat;
    font-size: 9.62px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pricing .price-container .price-frame .frame-div .frame .frame-container .frame-contain .contain2{
    display: flex;
    width: 226.484px;
    padding-bottom: 4.228px;
    justify-content: center;
    align-items: center;
}

.pricing .price-container .price-frame .frame-div .frame .frame-container .frame-contain .contain2 .contain-div{
    width: 226.873px;
    height: 31.442px;
    flex-shrink: 0;
}

.pricing .price-container .price-frame .frame-div .frame .frame-container .frame-contain .contain2 .contain-div .div-cont{
    display: flex;
    width: 226.873px;
    height: 31.442px;
    padding: 5.638px 21.611px;
    justify-content: center;
    align-items: center;
    gap: 3.132px;
    flex-shrink: 0;
    border-radius: 9.248px;
    background: var(--Yellow-Main-Yellow, #FC0);
}

.pricing .price-container .price-frame .frame-div .frame .frame-container .frame-contain .contain2 .contain-div .div-cont .div-p{
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 10.023px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pricing .price-container .price-frame .frame-div .frame .frame-img2{
    height: 144.393px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 9.62px;
    background: url(../images/frame-img2.png) lightgray 50% / cover no-repeat;
}

.pricing .price-container .price-frame .frame-div .frame .frame-container .frame-contain .contain1 .contain-p2 .p2 span{
    color: var(--Blue-Main-blue, #213D56);
    font-family: Montserrat;
    font-size: 9.62px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pricing .price-container .price-frame .frame-div .frame .frame-img3{
    height: 144.393px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 9.62px;
    background: url(../images/frame-img3.png) lightgray 50% / cover no-repeat;
}

.pricing .price-container .price-frame .frame-div .frame .frame-img4{
    height: 144.393px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 9.62px;
    background: url(../images/frame-img4.png) lightgray 50% / cover no-repeat;
}
